<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048309130949-q29vbn1vt2sumopah2c92eq5o1rd9v78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048309130949-q29vbn1vt2sumopah2c92eq5o1rd9v78</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048309130949-3qtd11p4jj0dc6mtk5if9k20j7posjpa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFq8D-8JEbp-zOUTB2aht-yAy7TPsdyq4</string>
	<key>GCM_SENDER_ID</key>
	<string>1048309130949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golfswingaccelerator1.app</string>
	<key>PROJECT_ID</key>
	<string>golf-accelerator</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-accelerator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048309130949:ios:a3b1850d537897ce7f32ac</string>
</dict>
</plist>